*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
}

header .responsive_nav_bar{
    display: none;
}

header .left_side{
    width: 50%;
    height: 100%;
    background-color: white;
}

header .left_side img{
    width: 60px;
    margin: 5px 20px;

}

header .right_side{
    width: 50%;
    height: 100%;
    background-color: white;
}

header .right_side ul, 
header .right_side li{
    list-style: none;
    display: flex;
    margin: 10px 20px;
    font-size: 1.2em;
    color: purple;
}

/* for responsive */

#left_side_responsive{
    width: 30%;
    height: 350px;
    background-color: pink;
    overflow: none;
    display: none;
}

#left_side_responsive ul, li {
    color: black;
    font-weight: bold;
    display: none;
}




/* container */

.container{
    width: 100%;
    height: 400px;
    display: flex;
    background-color: purple;

}

.container h1{
    text-align: center;
    height: 50px;
    margin: 10px 50px;
    color: pink;
    z-index: 9999;

}



.container .Teams_container{
    width: 30%;
    height: 300px;
    background-color: pink;
    position: absolute;
    align-items: center;
    margin: 70px 50px;
    border-radius: 30px;
    display: flex;
}

.container .Teams_container .team_container_image{
    display: flex;
    flex-direction: column;
}
.container .Teams_container .team_container_image img{
    width: 60px;
    height: 60px;
}
.container .Teams_container .team_container_image_p{
    display: flex;
    flex-direction: column;
    margin-top: -40px;

}
.container .Teams_container .team_container_image_p p{
    margin-top: 40px;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.5s;
}
.container .Teams_container .team_container_image_p p:hover{
    color: purple;
    cursor: pointer;
}



.container .Teams_container_2{
    width: 30%;
    height: 300px;
    background-color: pink;
    position: absolute;
    align-items: center;
    margin: 70px 525px;
    border-radius: 30px;
    display: flex;
}
.container .Teams_container_2 .team_container_image{
    display: flex;
    flex-direction: column;
}
.container .Teams_container_2 .team_container_image img{
    width: 60px;
    height: 60px;
}
.container .Teams_container_2 .team_container_image_p{
    display: flex;
    flex-direction: column;
    margin-top: -40px;

}
.container .Teams_container_2 .team_container_image_p p{
    margin-top: 40px;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.5s;
}
.container .Teams_container_2 .team_container_image_p p:hover{
    color: purple;
    cursor: pointer;
}



.container .Teams_container_3{
    width: 30%;
    height: 300px;
    background-color: pink;
    position: absolute;
    align-items: center;
    margin: 70px 1000px;
    border-radius: 30px;
    display: flex;
}

.container .Teams_container_3 .team_container_image{
    display: flex;
    flex-direction: column;
}
.container .Teams_container_3 .team_container_image img{
    width: 60px;
    height: 60px;
}
.container .Teams_container_3 .team_container_image_p{
    display: flex;
    flex-direction: column;
    margin-top: -40px;

}
.container .Teams_container_3 .team_container_image_p p{
    margin-top: 40px;
    font-size: 1.1em;
    font-weight: bold;
    margin-left: 10px;
    transition: 0.5s;
}
.container .Teams_container_3 .team_container_image_p p:hover{
    color: purple;
    cursor: pointer;
}







.footer {
    background-color: purple;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer p {
    color: pink;
    text-decoration: none;
    margin: 0 10px;
}
.footer a:hover {
    text-decoration: underline;
}




























/* responsive */

@media only screen and (max-width: 1241px){
    header{
        width: 100%;
        height: 50px;
        background-color: purple;
        display: flex;
    }

    header .responsive_nav_bar{
        display: block;
        width: 100%;
    }

    header .responsive_nav_bar i{
        font-size: 2em;
        margin: 10px 3%;
    }
    
    header .left_side{
        width: 50%;
        height: 100%;
        background-color: purple;
    }
    
    header .left_side img{
        display: none;
    
    }
    
    header .right_side{
        width: 50%;
        height: 100%;
        background-color: purple;
    }
    
    header .right_side ul,li{
        display: none;
    }

    #left_side_responsive{
        width: 30%;
        height: 350px;
        background-color: pink;
        overflow: none;
        display: none;
        z-index: 9999;
        position: absolute;
        top: 50px;
        left: 0;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }

    #left_side_responsive ul, li {
        color: black;
        font-weight: bold;
        display: block;
        text-align: center;
        align-items: center;
        margin-top: 13%;
    }


    .container{
        width: 100%;
        height: auto;
        display: block;
        background-color: purple;
        flex-direction: column;
        
    
    }
    
    .container h1{
        text-align: center;
        height: 50px;
        margin: 10px 50px;
        color: pink;
        z-index: 9999;
    
    }
    
    .container .Teams_container{
        width: 30%;
        height: 300px;
        background-color: pink;
        position: absolute;
        align-items: center;
        margin: 70px 50px;
        border-radius: 30px;
        display: flex;
    }


}